/*****MAIN*****/
    /*main menu*/
.main-menu{ margin-top:20px ;}

    /*main promo*/
.main-promo{
    margin-top: 20px;
    padding-left: 20px;
}

/*****CARRUSEL*****/
.carousel-item{height: 400px;
& img{ height: 400px;}}

/*****UBICACION*****/
.ubicacion{margin-top: 5px;color: azure;
&1{
    font-size: 20px;
    color: rgba(7, 255, 255, 0.493);
    padding-left: 100px;
    margin-top: 30px;
    margin-bottom: 0%;
}} 
.mapa{margin-top: 10px;}