/*QUIENES SOMOS?*/

/*quienes somos*/
.quienes-somos{font-size: 30px;}

.separador__1{
    padding-left: 30px ;
    margin:auto;;
}
.qs{
display: flex;
justify-content: center;
color: burlywood;
}
.quienes{
color: white;
text-align: center;

&__1{
color:rgb(255, 255, 255);
margin-top: 15px;
text-align: center;
font-size: 25px;
font-family: initial;
background-color: rgba(165, 42, 42, 0.473);
}
&__1:hover{ 
    color:rgb(212, 211, 255); 
   }}
.cocina{
    font-size: 20px; color: rgba(7, 255, 255, 0.493);
}
